/* header styles */
.navigation {
    display: inline-block;
    margin-left: 195px;
    vertical-align: middle;
    width: 601px;
}
.nav-li {
    display: inline-block;
    /* margin-right: 30px; */
}
.li {
    font-size: 18px;
    color: #37393F;
    line-height: 21.78px;
    margin-right: 30px;
    font-family: 'Inter', sans-serif;
}
.logo {
    vertical-align: middle;
    width: 200px;
    height: 38px;
}
.container-header {
    background-color: #FFFFFF;
    width: 1220px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
    margin-bottom: 136px;
}
.button {
    background-color: #6B77E5;
    border: none;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    width: 184px;
    height: 65px;
    padding: 21px, 35px, 22px, 35px;
    margin-left: 32px;
}
.header-wraper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
/* body */
.positions {
    padding-top: 254px;
}
/* main styles */
/* section 1 */
.main-title {
    font-size: 18px;
    text-align: center;
    line-height: 21.78px;
    color: #37393F;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
}
.main-subtitle {
    font-size: 40px;
    text-align: center;
    margin-bottom: 41px;
    line-height: 48.4px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
}
.div-box1 {
    display: inline-block;
    width: 386px;
    height: 383px;
    text-align: center;
    background-color: #F4F4F4;
    margin-right: 31px;
}
.div-box2 {
    display: inline-block;
    width: 386px;
    height: 383px;
    text-align: center;
    background-color: #F4F4F4;
    margin-right: 31px;
}
.div-box3 {
    display: inline-block;
    width: 386px;
    height: 383px;
    text-align: center;
    background-color: #F4F4F4;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    height: 510px;
    text-align: center;
}
.box-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 31.75px;
    color: #37393F;
    margin-top: 58px;
    margin-bottom: 16px;
}
.box-describtion {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 26.31px;
    color: #7D7D7D;
    margin-bottom: 37px;
}
.testimonials {
    font-family: 'Inter', sans-serif;
    color: #6B77E5;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 10px;
}
/* section 2 */
.bg-image {
    width: 100%;
}
.video {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 21.78px;
    color: #37393F;
    margin-bottom: 16px;
}
.presentation {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 48.4px;
    color: #37393F;
    margin-bottom: 21px;
}
.video-describtion {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 26.31px;
    color: #37393F;
    margin-bottom: 47px;
}
.image-block {
    margin-top: 60px;
    margin-bottom: 130px;
}
.block-on-image {
    width: 511px;
    height: 270.5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-positions {
    position: relative;

}
/* section 3 */
.container-block {
    text-align: center;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 131px;
}
.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #37393F;
    text-align: center;
    line-height: 21.78px;
    margin-bottom: 16px;
}
.team-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 48.4px;
    color: #37393F;
    text-align: center;
    margin-bottom: 41px;
}
.block1 {
    display: inline-block;
    width: 386px;
    height: 532px;
    text-align: center;
    margin-right: 31px;
    position: relative;
}
.block2 {
    display: inline-block;
    width: 386px;
    height: 532px;
    text-align: center;
    margin-right: 31px;
    position: relative;
}
.block3 {
    display: inline-block;
    width: 386px;
    height: 532px;
    text-align: center;
    position: relative;
}
.name {
    font-size: 25px;
    color: #37393F;
    line-height: 37.5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 24px;
    margin-bottom: 4px;
    text-align: center;
}
.profession {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 24.33px;
    margin-bottom: 24px;
}
.block-on-block1 {
    width: 341px;
    height: 114px;
    background-color: #FFFFFF;
    bottom: 22px;
    left: 22px;
    position: absolute;
}
.block-on-block2 {
    width: 341px;
    height: 114px;
    background-color: #FFFFFF;
    bottom: 22px;
    left: 22px;
    position: absolute;
}
.block-on-block3 {
    width: 341px;
    height: 114px;
    background-color: #FFFFFF;
    bottom: 22px;
    left: 22px;
    position: absolute;
}